@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
  --bg-color--primary: rgb(24, 21, 21);
  --bg-color--alt: rgb(20, 20, 17);
  --bg-color--tri: rgb(26, 27, 29);
  --text-color--primary: #eee;
  --text-color--alt: #e9204f;
  --text-color--tri: #777;
  --border-color--primary: #e9204f;
  --border-color--alt: #f2532b;
  --button-bg-color: transparent;
  --button-bg-color--alt: #191919;
  --font-family--primary: 'Catamaran';
  --font-family--alt: 'Montserrat';
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

li {
  list-style-type: none;
}
body {
  width: 100%;
  color: var(--text-color--primary);
  font-family: 'Montserrat', 'Catamaran', Avenir, Helvetica, Arial, sans-serif;
}
img {
  width: 100%;
}
button {
  cursor: pointer;
  background: none;
  border: solid thin var(--border-color--primary);
  color: #fff;
  background: var(--button-background-color);
  font-size: 1rem;
  padding: 0.8em 1em;
  transition: all 0.2s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}
